main {
    background-color: whitesmoke;
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 550px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{
    display: block;
}

.campo{
    width: 100%;
    margin-bottom: 25px;
}

.campo input{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
}

button{
    background-color: #38d67a;
    border: none;
    outline: none;
    border-radius: 60px;
    color: white;
    transition: all 0.3s ease;
    padding: 10px 30px;
    cursor: pointer;
}

button:hover,
button:focus{
    background-color: #1C7240;
}

@media screen and (max-width: 730px) {
    form{
        width: 300px;
    }
}