<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/forms.css">
    <title>Dashboard</title>
</head>
<body>

    <nav>

        <span class="logo"><img src="assets/logo.svg" alt="logo"></span>

        <ul>

            <li><a href="index.html"><img src="assets/home.svg" alt="Dashboard"></a></li>

            <li class="selected"><a href="adicionarcliente.html"><img src="assets/adicionar_cliente.svg" alt="Adicionar CLiente"></a></li>

            <li><a href="adicionarproduto.html"><img src="assets/cadastrar_produto.svg" alt="Cadastrar um produto"></a></li>

            <li><a href="relatorios.html"><img src="assets/relatorio.svg" alt="Fazer busca no relatorio"></a></li>

        </ul>

    </nav>

    <main>

        <form action="">

            <div class="campo">
                <label for="codigoClt">Código</label>
                <input type="text" id="codigoClt" autocomplete="off" placeholder="Código do Cliente" required>
            </div>

            <div class="campo">
                <label for="nomeClt">Nome</label>
                <input type="text" id="nomeClt" autocomplete="off" placeholder="Nome do Cliente" required>
            </div>

            <div class="campo">
                <label for="cidadeClt">Cidade</label>
                <input type="text" id="cidadeClt" autocomplete="off" placeholder="Cidade do Cliente" required>
            </div>

            <div class="campo">
                <label for="estadoClt">Estado</label>
                <input type="text" id="estadoClt" autocomplete="off" placeholder="Estado do Cliente" required>
            </div>

            <div class="campo">
                <label for="vendedorClt">Vendedor</label>
                <input type="text" id="vendedorClt" autocomplete="off" placeholder="Vendedor do Cliente" required>
            </div>

            <button type="submit">Enviar</button>

        </form>

    </main>
    
</body>
</html>