<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

    <title>Dashboard</title>
</head>
<body>

    <nav>

        <span class="logo"><img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo"></span>

        <ul>

            <li><a href="/"><img src="{{ url_for('static', filename='assets/home.svg') }}" alt="Dashboard"></a></li>

            <li class="selected"><a href="/adicionarcliente"><img src="{{ url_for('static', filename='assets/adicionar_cliente.svg') }}" alt="Adicionar Cliente"></a></li>

            <li><a href="/relatorios"><img src="{{ url_for('static', filename='assets/relatorio.svg') }}" alt="Fazer busca no relatorio"></a></li>

        </ul>

    </nav>

    <main>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <form action="/adicionarcliente" method="post">

            <div class="campo">
                <label for="codigoClt">Código</label>
                <input type="number" id="codigoClt" name="codigoClt" autocomplete="off" placeholder="Código do Cliente" required>
            </div>

            <div class="campo">
                <label for="nomeClt">Nome</label>
                <input type="text" id="nomeClt" name="nomeClt" autocomplete="off" placeholder="Nome do Cliente" required>
            </div>

            <div class="campo">
                <label for="cidadeClt">Cidade</label>
                <input type="text" id="cidadeClt" name="cidadeClt" autocomplete="off" placeholder="Cidade do Cliente" required>
            </div>

            <div class="campo">
                <label for="estadoClt">Estado</label>
                <input type="text" id="estadoClt" name="estadoClt" autocomplete="off" placeholder="Estado do Cliente" required>
            </div>

            <div class="campo">
                <label for="vendedorClt">Vendedor</label>
                <input type="text" id="vendedorClt" name="vendedorClt" autocomplete="off" placeholder="Vendedor do Cliente" required>
            </div>

            <button type="submit">Enviar</button>

        </form>

    </main>
    
</body>
</html>