<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>Dashboard</title>
</head>
<body>

    <nav>

        <span class="logo"><img src="assets/logo.svg" alt="logo"></span>

        <ul>

            <li><a href="index.html"><img src="assets/home.svg" alt="Dashboard"></a></li>

            <li class="selected"><a href="adicionarcliente.html"><img src="assets/adicionar_cliente.svg" alt="Adicionar CLiente"></a></li>

            <li><a href="#"><img src="assets/cadastrar_produto.svg" alt="Cadastrar um produto"></a></li>

            <li><a href="#"><img src="assets/relatorio.svg" alt="Fazer busca no relatorio"></a></li>

        </ul>

    </nav>

    <main></main>
    
</body>
</html>