<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>Dashboard</title>
</head>

<body>

    <nav>

        <span class="logo"><img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo"></span>

        <ul>

            <li><a href="/"><img src="{{ url_for('static', filename='assets/home.svg') }}" alt="Dashboard"></a></li>

            <li><a href="/adicionarcliente"><img src="{{ url_for('static', filename='assets/adicionar_cliente.svg') }}" alt="Adicionar Cliente"></a></li>
            
            <li class="selected"><a href="/relatorios"><img src="{{ url_for('static', filename='assets/relatorio.svg') }}" alt="Fazer busca no relatorio"></a></li>

        </ul>

    </nav>

    <main>

        <div class="container">

            <div class="busca">

                <input type="text" id="buscarClt">
                <button onclick="buscarClt()"><img src="{{ url_for('static', filename='assets/relatorio.svg') }}" alt=""></button>

            </div>

            {% for cliente in clientes %}
                <div class="divisor">

                    <div class="infos">
                        
                        <p>{{ cliente[0] }}</p>
                        <p>{{ cliente[1] }} ({{ cliente[4] }})</p>
                        
                    </div>
                    <a href="#">Abrir</a>

                </div>
            {% endfor %}

        </div>

    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>