<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>Dashboard</title>
</head>

<body>

    <nav>

        <span class="logo"><img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo"></span>

        <ul>

            <li><a href="/"><img src="{{ url_for('static', filename='assets/home.svg') }}" alt="Dashboard"></a></li>

            <li><a href="/adicionarcliente"><img src="{{ url_for('static', filename='assets/adicionar_cliente.svg') }}" alt="Adicionar Cliente"></a></li>
            
            <li class="selected"><a href="/relatorios"><img src="{{ url_for('static', filename='assets/relatorio.svg') }}" alt="Fazer busca no relatorio"></a></li>

        </ul>

    </nav>

    <main>

        <table border="1">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Vendedor</th>
            </tr>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
            </tr>
            {% endfor %}
        </table>

        <!--<h1>Dados do Cliente</h1>
        <p><strong>Código:</strong> {{ codigo }}</p>
        <p><strong>Nome:</strong> {{ nome }}</p>
        <p><strong>Cidade:</strong> {{ cidade }}</p>
        <p><strong>Estado:</strong> {{ estado }}</p>
        <p><strong>Vendedor:</strong> {{ vendedor }}</p>
        <a href="/">Voltar</a>-->

    </main>

</body>

</html>