<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>Dashboard</title>

    <style>
        main {
            justify-content: flex-start;
        }
    </style>

</head>

<body>

    <nav>

        <span class="logo"><img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo"></span>

        <ul>

            <li><a href="/"><img src="{{ url_for('static', filename='assets/home.svg') }}" alt="Dashboard"></a></li>

            <li><a href="/adicionarcliente"><img src="{{ url_for('static', filename='assets/adicionar_cliente.svg') }}"
                        alt="Adicionar Cliente"></a></li>

            <li class="selected"><a href="/relatorios"><img
                        src="{{ url_for('static', filename='assets/relatorio.svg') }}"
                        alt="Fazer busca no relatorio"></a></li>

        </ul>

    </nav>

    <main>

        <div class="container">

            <div class="buscaContainer">

                <input type="text" id="buscarClt" placeholder="Busca..." oninput="buscarClt()">

            </div>

            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Vendedor</th>
                    </tr>
                </thead>
                <tbody id="corpoTabela">
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente[0] }}</td>
                        <td>{{ cliente[1] }}</td>
                        <td>{{ cliente[4] }}</td>
                        <td><a href="#">Abrir</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>